.hero-animation video {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.hero-animation h1 {
    line-height: 1.3;
    font-size: 32px;
    padding-right: 30px;
}

.button-wrapper {
    gap: 30px;
    display: flex;
}

.button-wrapper p a.button {
    font-size: 16px;
    background: white;
    border: 1px solid white;
    color: black;
    padding: 16px 32px;
}

.button-wrapper p + p a.button {
    background: none;
    border: 1px solid white;
    color: white;
}

.hero-animation-container {
    padding: unset !important;
    margin: unset !important;
    position: relative;
}

.hero-animation-wrapper {
    margin: unset !important;
    width: 100%;
    max-width: unset !important;
}

.video-hero-content {
    width: 88%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 12%;
    padding-bottom: 30px;
    color: white;
}

.background-fade .video-hero-content {
    background: rgb(0 0 0 / 0%) linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0)) repeat scroll 0% 0%;
}

.hero-animation {
    position: relative;
}

.section.black > .default-content-wrapper {
    padding-bottom: 50px;
}

@media (max-width: 800px) {
    .button-wrapper {
        flex-direction: column;
        gap: 0;
        width: 85%;
    }

    .button-container {
        padding: 0;
        margin: 0;
    }

    .button-wrapper p a.button {
        margin: 0 !important;
        width: 100%;
    }
}